.cv-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 0rem;
  }


  .cv-avatar {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin-bottom: 1rem;
  }
  
  .cv-main {
    flex-grow: 1;
    padding: 2rem;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  }
  
  .cv-main h2 {
    border-bottom: 2px solid #eee;
    margin-top: 2rem;
  }
  
  .entry .dates {
    float: right;
    color: #888;
    font-size: 0.85em;
  }
  
  .summary-section {
    background-color: #f9f9f9;
    padding: 2rem;
    border-left: 5px solid #3b6978;
    border-radius: 8px;
    margin-bottom: 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  }
  
  .summary-section .section-title {
    font-size: 1.5rem;
    color: #3b6978;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .summary-section .section-title .fa-stack {
    font-size: 0.8rem;
    color: #3b6978;
  }
  
  .summary-section .summary {
    font-size: 1rem;
    color: #333;
    line-height: 1.7;
  }
  