---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
{% if page.math %}
<script>
  window.MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\(', '\)']]
    },
    svg: {
      fontCache: 'global'
    }
  };
</script>

<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>
{% endif %}

  <div class="wrapper">
  
    {% if page.math %}
    <script type="text/javascript" id="MathJax-script" async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
    {% endif %}
    <div class="post-content" itemprop="articleBody">
      {{ content }}
    </div>



    {% if site.inter_post_navigation %}
      <nav class="post-navigation" aria-label="Post Navigation">
        <div class="nav-links">
          {% if page.previous.url %}
            <a href="{{ page.previous.url | prepend: site.baseurl }}" class="nav-prev" title="{{ page.previous.title }}">
              <span class="nav-label"><i class="fa fa-arrow-left"></i> Previous</span>
              <span class="nav-title">{{ page.previous.title | truncatewords: 5 }}</span>
            </a>
          {% else %}
            <span class="nav-disabled"></span>
          {% endif %}

          {% if page.next.url %}
            <a href="{{ page.next.url | prepend: site.baseurl }}" class="nav-next" title="{{ page.next.title }}">
              <span class="nav-label">Next <i class="fa fa-arrow-right"></i></span>
              <span class="nav-title">{{ page.next.title | truncatewords: 5 }}</span>
            </a>
          {% else %}
            <span class="nav-disabled"></span>
          {% endif %}
        </div>
      </nav>
    {% endif %}

    {% if site.disqus_shortname and page.comments != false %}
      <section class="disqus">
        <div id="disqus_thread"></div>
        <script type="text/javascript">
          var disqus_shortname = '{{ site.disqus_shortname }}';
          (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      </section>
    {% endif %}

  </div>
</article>